.poultry-display {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.poultry-display h2 {
  font-size: 24px;
  font-weight: 600;
  place-self: center;
}

.poultry-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
