.About-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 30px;
    box-shadow: 5px 10px 8px 10px #888888;
    margin: 5% 20%;
}
.about-image img{
    width: 100%;
    height: 100%;
    border-radius: 30px 0px 0px 30px;
}
.about-content p,.about-content h1{
    color: #555;
    margin: 50px;
}
.about-content h1{
     color: #b57a0d;
     margin-bottom: 10px;
}
.about-content hr{
    background-color: #b57a0d;
    width: 30%;
    height: 10px;
    border: none;
    margin-left: 50px;
}
.about-section #heading{
    color: linear-gradient(to left, white, #b57a0d );
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 30px;
}
@media (max-width: 600px) {
    .About-div{
        display: grid;
        grid-template-columns: 1fr;
        width: 60%;
        place-items: center;
    }
    .about-image img{
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}
}
