.poultry-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  overflow: hidden;
  transition: 0.3s;
  width: 240px;
  margin: 30px;
}

.poultry-img-container {
  position: relative;
}

.poultry-image {
  width: 100%;
  border-radius: 0%;
  height: 250px;
  object-fit: cover;
}

.add-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: tomato;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 20px;
  cursor: pointer;
}

.counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 5px 10px;
  gap: 5px;
}

.counter button {
  border: none;
  background-color: tomato;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.poultry-info {
  padding: 15px;
}

.poultry-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.poultry-desc {
  color: #676767;
  font-size: 12px;
  margin: 5px 0;
}

.poultry-price {
  color: tomato;
  font-weight: 600;
  font-size: 18px;
}
